@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 1px;
}


/* Header */

header{
    width: 100%;
    padding: 10px;
    background-color: #4E9F3D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header .icons i{
    font-size: 0.8em;
    margin-right: 5px;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}


.text-header{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icons{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.text-header a{
    margin-right: 10px;
    margin-left: 10px;
    padding: 2px;
    font-size: 0.6em;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}


header .icons, header .text-header, header .burger-menu:hover{
    cursor: pointer;
}

/* Big Menu only for big screens */

.big-menu{
    width: 100%;
    margin-top:40px;
    margin-bottom:40px;
    display: flex;
    justify-content:center;
    display: none;
}

.big-menu ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.big-menu ul li a{
    font-size: calc(1.5em + 1vw);
    font-weight: bold;
    color: #230338;
    opacity: 0;
}

.big-menu ul li {
    position: relative;
    display: inline-block;
    transform: scale(0);

}

.big-menu ul li:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #A91079;
    transition: width .5s ease-in-out;
}

.big-menu ul li:hover:after {
    width: 100%;
}

.big-menu ul li a:hover {
    color: #A91079;
}


/* Burger Menu */

.burger-menu{
    width: 10%;
}

.burger-menu > i{
    font-size: 1em;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.burger-container{
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    z-index: 20;
    top:0;
    transform: translateX(-100%)
}

.burger-menu-container{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.icon-x {
    width: 100%;
    font-size: 2.5em;
    padding-right:15px;
    display: flex;
    justify-content: flex-end;
}

.img-brg-menu{
    width: 100%;
    height: 10em;
    background-image: url(/imgs/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu{
    width:100%;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    margin-left: 40px;
    font-size: 1.7em;
    font-weight: 600;
    color: #4D4C7D;
}

.menu ul li{
    margin-top: 20px;
}

/* Whatsapp Button */
.wsp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #25D366;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    position: fixed;
    top: 90%;
    left: 85%;
    z-index: 10;
}


a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
    cursor:pointer;
    z-index: 1;  
}

.wsp::before, .wsp::after {
    content:"";
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #25D366;
    border-radius: 50%;
    animation: latido linear 3s infinite;
}

.wsp a:hover{
    color: black;
}

.wsp::after {
    animation-delay: -1.5s;
}

@keyframes latido {
    0% { width:50px; height:50px; border: 3px solid #25D366; }
    100% { width:70px; height:70px; border: 10px solid transparent; }
}


/* main container */

.main-container{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}


/* images headers */

.second-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.banner {
    width: 100%;
    object-fit: contain;
    margin-bottom: 70px;
}

.second-container .logo-container {
    width: 80%;
    height: 30%;
    background-image: url(/imgs/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


/* project description */
.proj-desc{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 15px;
    opacity: 0;
    transform: translateY(80%)
}

.proj-desc > p{
    width: 80%;
    text-align: left;
    margin-bottom: 60px;
    font-size: calc(0.8em + 1vw);
    color: #711A75;
}

/* schedule date */

.schedule-date{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-top: 25px;
}

.schedule-date a{
    width: 95%;
    height: 15vh;
    border-radius: 10px;
    background-color: #FF00B0;
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-weight: bold;
    font-size: calc(0.8em + 1vw)
}

.schedule-date a i{
    margin-left: 5px;
}

/* security protocol */

.sec-protocol{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    width: 95%;
    height: 35vh;
    text-align: center;
    margin-top: 25px;
    position: relative;
}

.sec-protocol a{
    width: 100%;
    height: 15vh;
    border-radius: 10px;
    background-color: #93D429;
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
    font-size: calc(0.8em + 1vw);
    padding:10px;
}

.sec-protocol .pdf{
    width: 4.5em;
    height: 3em;
    cursor: pointer;
}

.sec-protocol .logo{
    width: 8em;
    height: 6em;
    margin-left: 5px;
    cursor: pointer;

}

/* susuki phrase */

.susuki-prhase{
    margin-top: 80px;
    width: 100vw;
    background-color: #00b2ff;
    display: flex;
    justify-content:center;
    overflow-x: hidden;
    transform: scale(0);
}

.susuki-prhase img{
    object-fit: contain;
    width: 100%;
    max-width: 100%;
}


/* reasons title */

.reasons{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.title-reasons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.title-reasons h1{
    width: 80%;
    font-size: calc(1.6em + 1vw);
    text-align: center;
    color: #99219f;
    margin-bottom: 70px;
}

.title-reasons h2{
    width: 80%;
    text-align: center;
    font-size: calc(1em + 1vw);
    color: #7a7a7a;
    /* opacity: 0;
    transform : translateY(-150%); */
}

/* reasons description */

.reason-desc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 130px;
}

.reason-desc h3{
    width: 100%;
    color: #00b2ff;
    font-size: calc(2em + 1vw);
    margin-bottom: 20px;
    text-align: center;
    word-wrap: break-word;
}

.reason-desc h4{
    color: #FF00B0;
    font-size: calc(1em + 1vw);
    text-align: center;
}


/* container slider1 */

.container-slider1{
    width: 100%;
    display: flex;
    justify-content:center;
}

.div-slider1{
    width: 80%;
    min-height: 40vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #F1EEE9;
    border: 2px solid #F1EEE9;
    position: relative;
    margin-bottom: 80px;
    overflow-x: hidden;

}

.div-slider1 img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(106%);
}


/* Footer */

footer {
    width: 100%;
    min-height:40vh;
    background-color: #752e79;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}


.logo-footer-cont{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 50px;
}

.logo-footer{
    width: calc(25em + 5vw);
    height: auto;
}


.menu-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.menu-footer a{
    text-decoration: none;
    margin-top: 20px;
    color: white;
    font-size: calc(0.7em + 1vw);
    font-weight: bold;
    margin-right: 20px;
}

.menu-footer a:hover{
    color: #9eff00;
}

.options{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.options a{
    text-decoration: none;
    margin-top: 20px;
    color: white;
    font-size: calc(0.7em + 1vw);
    font-weight: bold;
    margin-right: 20px;
}

.options a:hover{
    color: #9eff00;
}

.address{
    margin-top: 70px;
    margin-bottom: 40px;
    color: white;
    font-size: calc(0.3em + 1vw);
    font-weight: bold;
    text-align: center;
}

.separator{
    height: calc(1em + 1vw);
    border-left: 1px solid white;
    margin-right: 10px;
}


.social{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5em;
    color: white;
}


.social-icons{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.social i:hover{
    color: #9eff00;
    cursor: pointer;
}

.copyright{
    display: flex;
    justify-content:center;
    margin-bottom: 80px;
    width: 90%;
    font-size: calc(0.5em + 1vw);
    font-weight: bold;
    color: white;
}

.copyright i{
    margin-right: 3px;
    font-size: calc(0.5em + 1vw);
}

/*------------------------- Responsive Design by means media queries ---------------------------------------*/

@media screen and (min-width: 801px) {
    
    /*------------- Header ---------------------------*/
    header .icons i{font-size: calc(0.5em + 1vw);}
    .text-header{justify-content: center;}
    .text-header a{font-size:calc(0.5em + 1vw);}
    .burger-menu{display: none;}

    .icons i:hover{
        color: #ffe500;
        transform:scale(1.5);
    }

    .text-header a:hover{
        color: #ffe500;
    }
    

    /*--------- Project-desc ------------------------*/
    .proj-desc > p{
        width: 50%;
    }

    /*----------- Schedule date ----------------------*/
    .schedule-date{
        width: 30%;
        height: 35vh;
        margin-right: 10px;
    }

    .schedule-date a{
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

    /*----------- sec-protocol -----------------------*/

    .sec-protocol{
        width: 30%;
        margin-left: 10px;
        border-radius: 20px;
    }

    .sec-protocol a {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

    /*--------------- Reasons -------------------------------*/
    .reasons{
        align-items: center;
    }

    .reason1, .reason2, .reason3{width: 30%;}

    .reason1-paragrh, .reason2-paragrh, .reason3-paragrh{
        height: 60%;
        align-items:flex-start;
    }

    .reason1-paragrh p, .reason2-paragrh p, .reason3-paragrh p{
        transform: translateX(-120%);
    }

    .reason1-subtitle, .reason2-subtitle, .reason3-subtitle{
        display: flex;
        align-items: flex-start;
        height: 13%;
    }

    /*--------------- age-jurney -------------------------------*/
    .age-jurney{margin-top:0px;}

    /*--------------- container-slider1 -------------------------------*/
    .div-slider1{
        width: 60%;
        min-height: 75vh;
    }

    /*--------------- acordion -------------------------------*/ 
    .accordion{
        height: calc(2em + 1vh);
        font-size: calc(0.6em + 1vw);
        width: 82%;
    }

    .accordion i{
        margin-left: 30px;
    }
    
    .accordion-menu{
        margin-top: 80px;
        margin-bottom: 80px;
    }



    /*--------------- contact us -------------------------------*/ 
    .contact form{width: 60%;}    
    .data-input{height: 2.5em;}
    form button{height: 2.5em;}


    /*--------------- footer -------------------------------*/ 

    .logo-footer{
        width: calc(30em + 5vw);
        height: auto;
    }

    .logo-footer-cont p{font-size: calc(1em + 1vw);}

    .big-menu{display:block;}

    .social{font-size: 2.5em;}
    .social-icons{width:15%;}
    
    .copyright i{font-size: calc(0.2em + 1vw);}
    
    .copyright{font-size: calc(0.2em + 1vw);}
}
