@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 1px;
}


/* Header */

header{
    width: 100%;
    padding: 10px;
    background-color: #4E9F3D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header .icons i{
    font-size: 0.8em;
    margin-right: 5px;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}


.text-header{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icons{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.text-header a{
    margin-right: 10px;
    margin-left: 10px;
    padding: 2px;
    font-size: 0.6em;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}


header .icons, header .text-header, header .burger-menu:hover{
    cursor: pointer;
}

/* Big Menu only for big screens */

.big-menu{
    width: 100%;
    margin-top:40px;
    margin-bottom:40px;
    display: flex;
    justify-content:center;
    display: none;
}

.big-menu ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.big-menu ul li a{
    font-size: calc(1.5em + 1vw);
    font-weight: bold;
    color: #230338;
    opacity: 0;
}

.big-menu ul li {
    position: relative;
    display: inline-block;
    transform: scale(0);

}

.big-menu ul li:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #A91079;
    transition: width .5s ease-in-out;
}

.big-menu ul li:hover:after {
    width: 100%;
}

.big-menu ul li a:hover {
    color: #A91079;
}


/* Burger Menu */

.burger-menu{
    width: 10%;
}

.burger-menu > i{
    font-size: 1em;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.burger-container{
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    z-index: 20;
    top:0;
    transform: translateX(-100%)
}

.burger-menu-container{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.icon-x {
    width: 100%;
    font-size: 2.5em;
    padding-right:15px;
    display: flex;
    justify-content: flex-end;
}

.img-brg-menu{
    width: 100%;
    height: 10em;
    background-image: url(/imgs/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu{
    width:100%;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    margin-left: 40px;
    font-size: 1.7em;
    font-weight: 600;
    color: #4D4C7D;
}

.menu ul li{
    margin-top: 20px;
}

/* Whatsapp Button */
.wsp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #25D366;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    position: fixed;
    top: 90%;
    left: 85%;
    z-index: 10;
}


a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
    cursor:pointer;
    z-index: 1;  
}

.wsp::before, .wsp::after {
    content:"";
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #25D366;
    border-radius: 50%;
    animation: latido linear 3s infinite;
}

.wsp a:hover{
    color: black;
}

.wsp::after {
    animation-delay: -1.5s;
}

@keyframes latido {
    0% { width:50px; height:50px; border: 3px solid #25D366; }
    100% { width:70px; height:70px; border: 10px solid transparent; }
}


/* main container */

.main-container{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}


/* images headers */

.second-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.second-container .banner {
    width: 100%;
    min-height: 10%;
}

.second-container .logo-container {
    width: 80%;
    height: 30%;
    background-image: url(/imgs/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


/* project description */
.proj-desc{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 15px;
    opacity: 0;
    transform: translateY(80%)
}

.proj-desc > p{
    width: 80%;
    text-align: left;
    margin-bottom: 60px;
    font-size: calc(0.8em + 1vw);
    color: #711A75;
}

/* schedule date */

.schedule-date{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-top: 25px;
    /* position: fixed;
    top:0px;
    z-index:10; */
}

.schedule-date a{
    width: 95%;
    height: 6vh;
    border-radius: 10px;
    background-color: #FC85AE;
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-weight: bold;
    font-size: calc(0.8em + 1vw)
}

.schedule-date a i{
    margin-left: 5px;
}

/* security protocol */

.sec-protocol{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    width: 95%;
    height: 35vh;
    text-align: center;
    margin-top: 25px;
    position: relative;
    background-color: #FFE5E2;
    border-radius: 3px;
}

.sec-protocol a{
    width: 98%;
    min-height: 8vh;
    border-radius: 10px;
    background-color: #E04DB0;
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
    font-size: calc(0.8em + 1vw);
    padding:10px;
}

.sec-protocol a i{
    margin-right: 5px;
}

.sec-protocol .pdf{
    width: 6em;
    height: 6em;
    margin-right: 5px;
    cursor: pointer;
}

.sec-protocol .logo{
    width: 8em;
    height: 6em;
    margin-left: 5px;
    cursor: pointer;

}

/* susuki phrase */

.susuki-prhase{
    margin-top: 60px;
    width: 100%;
    height: 60vh;
    background-image: url(/imgs/frase-susuki.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(0);
}


/* reasons title */

.reasons{
    width: 100%;
    height: 215vh;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    overflow:auto;
}

.title-reasons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-reasons h1{
    width: 80%;
    font-size: calc(1.6em + 1vw);
    text-align: center;
    color: #b4d802;
    margin-bottom: 70px;
}

.title-reasons h2{
    width: 80%;
    text-align: center;
    font-size: calc(1em + 1vw);
    color: #7a7a7a;
    opacity: 0;
    transform : translateY(-150%)
}

/* reasons description */

.reason-desc{
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

/* reason1 */

.reason1{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    overflow: hidden;
}

.reason1-subtitle{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content:center; 
    color: #0099cc;
    text-align: center;
    font-size: calc(1em + 1vw);

}

.reason1-paragrh{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content:center;
}

.reason1-paragrh p{
    width: 80%;
    text-align: left;
    color: #7a7a7a;
    font-size: calc(0.7em + 1vw);
    transform: translateX(-100%);
}

.building i{
    margin-top: 30px;
    font-size: 4em;
    color: #0099cc;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #0099cc;
    padding: 15px;
}

/* reason2 */

.reason2{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    overflow: hidden;
}

.reason2-subtitle{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content:center;
    color: #b4d802;
    font-size: calc(1em + 1vw);

}

.reason2-paragrh{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content:center;
}

.reason2-paragrh p{
    width: 80%;
    text-align: left;
    color: #7a7a7a;
    font-size: calc(0.7em + 1vw);
    transform: translateX(-100%);
}

.graduation-icon i{
    margin-top: 30px;
    font-size: 4em;
    color: #b4d802;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #b4d802;
    padding: 15px;
}

/* reason3 */

.reason3{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    overflow: hidden;
}

.reason3-subtitle{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content:center;
    color: #fe6500;
    font-size: calc(1em + 1vw);
}

.reason3-paragrh{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.reason3-paragrh p{
    width: 80%;
    text-align: left;
    color: #7a7a7a;
    font-size: calc(0.7em + 1vw);
    transform: translateX(-100%);

}

.health-icon i{
    margin-top: 30px;
    font-size: 4em;
    color: #fe6500;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #fe6500;
    padding: 15px;
}

/* Age and jurney */

.age-jurney{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    padding:20px;
}

.div-bord{
    width: 90%;
    background-color: white;
    border: 2px solid #F1EEE9;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

        /* Age */

.age-jurney-title{
    width: 95%;
    display: flex;
    justify-content: center;
}

.age-jurney h4{
    margin-top: 20px;
    color: #b4d802;
    width: 100%;
    text-align: center;
    font-size: 1.5em;

}

.kid-icon{
    width: 100%;
    display: flex;
    justify-content:center;
}

.kid-icon i {
    margin-top: 30px;
    font-size: 3em;
    color: #fe6500;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #fe6500;
    padding: 15px;
}

.age-subtitle{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content:center;
    color: #0099cc;
    font-size: calc(1em + 1vw);
}

.age-desc{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content:center;
}

.age-desc p{
    width: 80%;
    text-align: center;
    color: #7a7a7a;
    font-size: calc(0.8em + 1vw);

}

    /* Jurney */

.clock-icon{
    width: 100%;
    display: flex;
    justify-content:center;
}

.clock-icon i {
    margin-top: 30px;
    font-size: 3em;
    color: #fe6500;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #fe6500;
    padding: 15px;
}

.jurney-subtitle{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content:center;
    color: #b4d802;
    font-size: calc(1em + 1vw);

}

.jurney-desc{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content:center;
    margin-bottom: 30px;
}

.jurney-desc p{
    width: 80%;
    text-align: center;
    color: #7a7a7a;
    font-size: calc(0.8em + 1vw);
}

/* container slider1 */

.container-slider1{
    width: 100%;
    display: flex;
    justify-content:center;
}

.div-slider1{
    width: 80%;
    min-height: 80vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #F1EEE9;
    border: 2px solid #F1EEE9;
    position: relative;
    margin-bottom: 80px;
    overflow-x: hidden;

}

.div-slider1 img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(106%);
}

/* Activities */

.activities{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.activities h3{
    width: 80%;
    text-align: left;
    color: #333C83;
    font-size: calc(2em + 1vw);
}

.activities ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 90%;
    list-style-type: none;
}

.activities ul li i{
    color: #F69E7B;
    margin-right: 5px;
}

.activities ul li span:nth-child(2){
    color: #7a7a7a;
}

.activities ul li {
    width: 90%;
    margin-bottom: 20px;
    font-size: calc(0.5em + 1vw);
}

/* Acordion menu */

.accordion-menu{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.accordion{
    height: 40px;
    transition: 0.4s;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    display:flex;
    align-items:center;
    width: 90%;
    border-radius: 10px;
    color: #54BAB9;
    background-color: #F8EDED;
    cursor: pointer;
}


.accordion-menu .active-btn{
    background-color: #FD5D5D;
    color: white;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    margin-bottom: 20px;
    display: flex;
    justify-content:center;
}

.panel p{
    width: 80%;
    color: #7a7a7a;
}

.accordion i {
    margin-right: 5px;
    margin-left: 5px;
}

/* Images in columns */

.col-imgs{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.col-imgs img, .col-imgs video {
    max-width: 30em;
    max-height: 30em;
    width: 70%;
    height: 70%;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 30px;
}

/* Contact us */

.contact{
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content:center;
    margin-top: 50px;
    margin-bottom: 80px;
    position: relative;
}

.contact form{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.contact form input, .contact form label{
    margin-bottom: 15px;
    color: #041562;
    font-weight: bold;
    font-size: calc(0.5em + 1vw)
}

form button{
    width: 80%;
    height: 3em;
    border-radius: 5px;
    background-color: #11468F;
    color: white;
    font-size: calc(0.8em + 1vw);
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.contact form .data-label{
    font-size: calc(3em + 4vw);
    font-weight: bold;
    color: #3E497A;
    text-align: center;
}

.data-input{
    width: 80%;
    height: 3em;
    text-align: center;
    background-color: #DDDDDD;
    border-radius: 5px;
    border: 1.5px solid #2C2E43;
}

.data-input:focus{
    background-color: #2D4059;
    color: white;
}

.how-to-contact{
    width: 80%;
    background-color: #DDDDDD;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items:center;
    flex-direction: column;
}

.options-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.options-container ul{
    list-style: none;
}

.options-container ul li span, .how-to-contact .label-contact{
    font-size: calc(0.5em + 1vw);
    font-weight: bold;
    color: #041562;
} 

input[type='radio'] { 
    transform: scale(1.3); 
}

/* Modal Window */

.modal-container{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(0,0,0,0.8);
    width:100vw;
    height:100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    opacity: 0;
    
}
.modal{
    max-width: 80%;
    height: 40%;
    background-color:white;
    padding: 20px;
    font-size: calc(1em + 1vw);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-radius: 40px;
    font-weight: bold;
    color: #064663;
}

.modal i{
    margin-top: 40px;
    font-size: calc(1.7em + 1vw);
    cursor: pointer;
    color: red;
}

.hide-modal{
    display: none;
}

/* Footer */

footer {
    width: 100%;
    min-height:40vh;
    background-color: #EA9ABB;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}


.logo-footer-cont{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin-top: 50px;
}

.logo-footer{
    width: calc(10em + 5vw);
    height: auto;
}

.logo-footer-cont p{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    font-size: 1em;
    color: #16003B;
}

.menu-footer{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.menu-footer a{
    text-decoration: none;
    margin-top: 20px;
    color: #16003B;
    font-size: calc(1em + 1vw);
    font-weight: bold;
    width: 15%;
}

.menu-footer a:hover{
    color:white;
}

.copyright{
    display: flex;
    justify-content:center;
    margin-bottom: 80px;
    width: 90%;
    font-size: calc(0.5em + 1vw);
    font-weight: bold;
    color: #16003B;
}

.copyright i{
    margin-right: 3px;
    font-size: calc(0.5em + 1vw);
}


.social{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5em;
    color: white;
}

.social i{
    margin-right: 50px;
    cursor: pointer;
}

.social i:hover{
    color: #5432D3;
}

/*------------------------- Responsive Design by means media queries ---------------------------------------*/

@media screen and (min-width: 801px) {
    
    /*------------- Header ---------------------------*/
    header .icons i{font-size: calc(0.5em + 1vw);}
    .text-header{justify-content: center;}
    .text-header a{font-size:calc(0.5em + 1vw);}
    .burger-menu{display: none;}

    .icons i:hover{
        color: #01005E;
        transform:scale(1.5);
    }

    .text-header a:hover{
        color: #01005E;
    }
    

    /*--------- Project-desc ------------------------*/
    .proj-desc > p{
        width: 50%;
    }

    /*----------- Schedule date ----------------------*/
    .schedule-date{
        width: 30%;
        height: 35vh;
        margin-right: 10px;
    }

    .schedule-date a{
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

    /*----------- sec-protocol -----------------------*/

    .sec-protocol{
        width: 30%;
        margin-left: 10px;
        border-radius: 20px;
    }

    .sec-protocol a {
        font-size: calc(0.5em + 1vw);
        width: 85%;
    }

    /*--------------- Reasons -------------------------------*/
    .reasons{
        height: 180vh;
        align-items: center;
    }

    .reason1, .reason2, .reason3{width: 30%;}

    .reason1-paragrh, .reason2-paragrh, .reason3-paragrh{
        height: 60%;
        align-items:flex-start;
    }

    .reason1-subtitle, .reason2-subtitle, .reason3-subtitle{
        display: flex;
        align-items: flex-start;
        height: 13%;
    }

    /*--------------- age-jurney -------------------------------*/
    .age-jurney{margin-top:0px;}

    /*--------------- container-slider1 -------------------------------*/
    .div-slider1{width: 60%;}

    /*--------------- acordion -------------------------------*/ 
    .accordion{
        height: calc(2em + 1vh);
        font-size: calc(0.6em + 1vw);
        width: 82%;
    }

    .accordion i{
        margin-left: 30px;
    }
    
    .accordion-menu{
        margin-top: 80px;
        margin-bottom: 80px;
    }

    /*--------------- col-imgs -------------------------------*/ 

    .col-imgs{
        margin-top: 90px;
        width: 85%;
        justify-content:center;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 1 1;    
    }
    
    .col-imgs img, .col-imgs video {
        max-width: 20em;
        max-height: 20em;
        margin-right: 30px;
    }

    /*--------------- contact us -------------------------------*/ 
    .contact form{width: 60%;}    
    .data-input{height: 2.5em;}
    form button{height: 2.5em;}


    /*--------------- footer -------------------------------*/ 

    .logo-footer{
        width: calc(10em + 5vw);
        height: auto;
    }

    .logo-footer-cont p{font-size: calc(1em + 1vw);}

    .big-menu{display:block;}

}
